html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #343434;
  padding: 0;
  margin: 0;
  height: auto;
  /* overflow: hidden; */
}
.MuiSlider-thumb {
  color: white;
  border: #9ffe27;
  border: 3px solid #9ffe27;
}
.MuiSlider-rail {
  color: white;
}
.MuiSlider-track {
  color: #9ffe27;
}
.c-pointer {
  cursor: pointer;
}
