html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #343434;
  padding: 0;
  margin: 0;
  height: auto;
  /* overflow: hidden; */
}
.MuiSlider-thumb {
  color: white;
  border: #9ffe27;
  border: 3px solid #9ffe27;
}
.MuiSlider-rail {
  color: white;
}
.MuiSlider-track {
  color: #9ffe27;
}
.c-pointer {
  cursor: pointer;
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}
video::-webkit-media-controls-play-button {}
video::-webkit-media-controls-timeline {}
video::-webkit-media-controls-current-time-display{}
video::-webkit-media-controls-time-remaining-display {}
video::-webkit-media-controls-mute-button {}
video::-webkit-media-controls-toggle-closed-captions-button {}
video::-webkit-media-controls-volume-slider { display: none;}
audio::-webkit-media-controls-volume-slider { display: none;}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 20px;
  background: #0805023a;
}

::-webkit-scrollbar-thumb:hover {
  background: #0805023a;
}
