html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1a1a1a; /* Updated background color */
  padding: 0;
  margin: 0;
  height: auto;
}

.MuiSlider-thumb {
  color: white;
  border: #ff9800; /* Updated border color */
  border: 3px solid #ff9800; /* Updated border color */
}

.MuiSlider-rail {
  color: #4a4a4a; /* Updated rail color */
}

.MuiSlider-track {
  color: #ff9800; /* Updated track color */
}

.c-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #2c2c2c; /* Updated track color */
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 20px;
  background: #ff9800; /* Updated thumb color */
}

::-webkit-scrollbar-thumb:hover {
  background: #ff9800; /* Updated thumb hover color */
}
